* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f7f8;
    color: #425a65;
}
h1 {
    font-size: 6rem;
}
.button__wrapper {
    display: flex;
    gap: 1rem;
}

.btn {
    border: none;
    background-color: #fff;
    box-shadow: 0 0 10px #cfd8dc;
    font-weight: bold;
    font-size: 2rem;
    color: inherit;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms ease-in-out, scale 50ms ease-in-out;
}
.btn:hover {
    filter: brightness(90%);
}
.btn:active {
    scale: 0.9;
}
